*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
  line-height: inherit;
  color: currentColor;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}
